@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


.ProjectsPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.pageHeading
{
  font-family: 'Dangrek', monospace;
    position: relative;
    color: cornflowerblue;
    font-size: 40px !important;
    margin-left: 80px !important;
    margin-top: 10px !important;
}
.pageHeading::after
{
    content: '';
    position: absolute;
    top:50%;
    left: 350px;
    right: auto;
    width: 500px;
    height: 0.5px !important;
    background-color: cornflowerblue;
}
.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .projectImage{
    width: 600px;
    height: 400px;
    border-radius: 10px !important;
    padding: 10px;
    filter: grayscale(100%) contrast(1) brightness(80%);
  }
  
  .projectImage:hover{
    filter: none;
    border: 1px solid aqua;
    box-shadow: 0px 0px 20px cornflowerblue;
  }

  .projectType{
    font-family: 'Space Mono', monospace;
    color: aquamarine;
    margin-bottom: -10px;
  }

  .projectTitle{
    font-family: 'Squada One', sans-serif;
    font-size: 35px;
    color: cornflowerblue;
    /* margin-bottom: -10px; */
  }

  .projectTitle:hover{
    color: aqua;
    text-shadow: 0px 0px 20px cornflowerblue;
  }




  .Project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
  }

 
  
  .ProjectOne {
    position: relative;
  }
  
  .projectInfo {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 20px;
    gap:15px;
    align-items: end; 
    gap: 5px;
  }
  
  .projectCard {
    width: 400px;
    padding: 20px;
    text-align: right;
    background-color: #15315f;
    color: #008B8B;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(0%, 5%);
  }
  .projectSkills{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    color: aqua;
    font-family: 'Space Mono', monospace;
    font-size: 13px; 
  }
  .projectLinks{
    display: flex;
    flex-direction: row;
    gap: 20px !important;
    color: #008B8B !important;

  }

  .projectIcon{
    color: #008B8B;
  }

  .projectIcon:hover{
    color: turquoise !important;
    transform: translate(10%,-10%);
    transition: transform 0.3s ease-out;

  }

  .projectImage2{
    width: 600px;
    height: 400px;
    border-radius: 10px !important;
    padding: 10px;
    filter: grayscale(100%) contrast(1) brightness(80%);
  }
  
  .projectImage2:hover{
    filter: none;
    border: 1px solid aqua;
    box-shadow: 0px 0px 20px cornflowerblue;
  }

  .projectInfo2 {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    gap:20px;
    align-items: start; 
    gap: 5px;
  }
  
  .projectCard2 {
    width: 400px;
    padding:20px 20px 20px 5px;
    text-align: right;
    background-color: #15315f;
    color: #008B8B;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
    text-align: left;
    z-index: 2;
    top: 50%;
    right: 80%;
    transform: translate(0%, 5%);
  }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ProjectsPage{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .pageHeading
  {
      position: relative;
      color: #CCCCFF;
      font-size: 30px !important;
      margin-left: 40px !important;
  }
  .pageHeading::after
  {
    left:300px;
    width: 350px !important;
  }

  .projectImage{
    width: 440px;
    height: 300px;
  }
  .projectImage2{
    width: 440px;
    height: 300px;
    transform: translate(-10%, 0%);

  }
  

  .projectInfo {
    transform: translate(-15%, 0%);
  }
  
  .projectCard {
    width: 300px;
    padding: 15px;
    font-size: 15px;
    z-index: 2;
    transform: translate(0%, 5%);

  }
  .projectSkills{
    font-size: 13px;
  }
  

 

  .projectInfo2 {
    width: 300px;
    z-index: 1;
  }
  
  .projectCard2 {
    width: 300px;
    transform: translate(0%, 5%);
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {  
    .ProjectsPage{
      margin-top: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .pageHeading
    {
        position: relative;
        color: #CCCCFF;
        font-size: 30px !important;
        margin-left: 40px !important;
    }
    .pageHeading::after
    {
      left:300px;
      width: 350px !important;
    }
  
    .projectImage{
      width: 350px;
      height: 400px;
      transform: translate(42%, 0%);
      mix-blend-mode: multiply;
    }
    .projectImage2{
      position: relative;
      width: 350px;
      height: 400px;
      transform: translate(-42%, 0%);
      mix-blend-mode: multiply;
    }

    .projectImage,.projectImage2:hover{
      box-shadow: 0px 0px 20px cornflowerblue;
    }
    
  
    .projectInfo {
      transform: translate(-60%, 0%);
    }
    
    .projectCard {
      width: auto;
      padding: 15px;
      font-size: 15px;
      z-index: 2;
      background-color: transparent;
      transform: translate(0%, 5%);
  
    }
    .projectSkills{
      font-size: 13px;
    }
    
  
   
  
    .projectInfo2 {
      width: 300px;
      z-index: 1;      
      transform: translate(60%, 0%);

      
    }
    
    .projectCard2 {
      width: 300px;
      transform: translate(0%, 5%);
      background-color: transparent;
    }  
}
@media screen and (min-width: 321px) and (max-width: 424px) {  
  .ProjectsPage{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .pageHeading
  {
      position: relative;
      color: cornflowerblue;
      font-size: 20px !important;
      margin-left: 20px !important;
  }
  .pageHeading::after
  {
    content: none;
  }

  .projectImage{
    width: 280px;
    height: 400px;
    transform: translate(50%, 0%);
    mix-blend-mode: multiply;
  }
  .projectImage2{
    position: relative;
    width: 280px;
    height: 400px;
    transform: translate(-50%, 0%);
    mix-blend-mode: multiply;
  }

  .projectImage,.projectImage2:hover{
    box-shadow: 0px 0px 20px cornflowerblue;
  }
  

  .projectInfo {
    width: 250;
    padding: 5px;
    transform: translate(-58%, 0%);
  }
  
  .projectCard {
    width: 250px;
    padding: 5px;
    font-size: 15px;
    z-index: 2;
    background-color: transparent;
    transform: translate(0%, 5%);

  }
  .projectSkills{
    font-size: 13px;
  }
  

 

  .projectInfo2 {
    width: 250px;
    padding: 5px;
    z-index: 1;      
    transform: translate(54%, 0%);
  }
  
  .projectCard2 {
    margin-top: -20px;
    width: 250px;
    transform: translate(0%, 5%);
    background-color: transparent;
  }  
}







@media screen and (max-width: 320px) {
  .Project{
   padding: 5px;
  }
  
  .ProjectsPage{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  .pageHeading
  {
      position: relative;
      color: cornflowerblue;
      font-size: 20px !important;
      margin-left: 20px !important;
  }
  .pageHeading::after
  {
    content: none;
  }

  .projectImage{
    width: 250px;
    height: 400px;
    transform: translate(50%, 0%);
    mix-blend-mode: multiply;
  }
  .projectImage2{
    position: relative;
    width: 250px;
    height: 400px;
    transform: translate(-50%, 0%);
    mix-blend-mode: multiply;
  }

  .projectImage,.projectImage2:hover{
    box-shadow: 0px 0px 20px cornflowerblue;
  }
  

  .projectInfo {
    width: 250px;
    padding: 5px;
    transform: translate(-55%, 0%);
  }
  
  .projectCard {
    width: 230px;
    padding: 0px;
    font-size: 14px;
    z-index: 2;
    background-color: transparent;
    transform: translate(0%, 5%);

  }
  .projectSkills{
    font-size: 12px;
  }
  

 

  .projectInfo2 {
    width: 250px;
    padding: 5px;
    z-index: 1;      
    transform: translate(54%, 0%);
  }
  
  .projectCard2 {
    margin-top: -20px;
    width: 250px;
    transform: translate(0%, 5%);
    background-color: transparent;
  }  
}





  /* Project Cards */

  .projectCardGrid{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 5px !important;
  justify-items: center; 
  }

  .projectsCard{
    border-radius: 3px;
    width: 350px;
    padding: 20px;
    background-color: #002244;
    display: flex;
    flex-direction: column;
  }

  .projectsCard:hover{
    transform: translate(0%,-3%);
    transition: transform 0.3s ease-out !important;
    /* box-shadow: 0 0 10px aqua; */
  }

  .projectCardLinks{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    gap:20px;
  }
 .projectModal{
  position: absolute;
  left: 5px;
 }
  
  .projectCardTitle{
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    color: cornflowerblue;
    margin-bottom: -10px;
  }

  .projectCardTitle:hover{
    color: aqua;
  }

  .projectCardDescription{
    color: #008B8B;
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
  }



@media screen and (min-width: 1200px) {
  .projectCardGrid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Display three columns on larger screens */
  }


  .projectsCard{
    border-radius: 3px;
    width: 350px;
    padding: 20px;
    background-color: #002244;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .projectCardGrid {
    grid-template-columns: repeat(2, 1fr); 
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Display three columns on larger screens */
    gap:20px !important;
    justify-items: center;
  }

  .projectsCard{
    width: 400px;
  }

}

@media screen and (max-width: 767px) {
  .projectCardGrid {
    grid-template-columns: 1fr; 
    gap: 20px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 425px){
  .projectCardGrid {
    grid-template-columns: 1fr;  
    gap:20px !important;
  }
  .projectsCard
  {
    width: 300px;
  }
}



@media screen and (max-width: 320px) {
  .projectCardGrid {
    grid-template-columns: 1fr; 
    gap:20px !important;
  }
  .projectsCard
  {
    width: 250px;
  }
}
 