

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Happy+Monkey&family=Kaushan+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dangrek&family=Happy+Monkey&family=Kaushan+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.titlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 40px;
  margin-left: 60px !important;
}

.hiText {
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  margin-bottom: -20px;
}

.TitleText {
  font-family: Dangrek;
  font-size: 120px;
  background: linear-gradient(to right, #6A82FB 0%, #FC5C7D 51%, #6A82FB 100%);
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  row-gap: 0;
  transition: 0.5s;
}

.TitleText:hover {
  background-position: right center;
  color: transparent;
  text-decoration: none;
}

.subTitle {
  font-family: Electrolize, sans-serif !important;
  font-size: 25px !important;
  background: linear-gradient(to right, #00d2ff, #928dab);
  background-clip: text;
  color: transparent;
}

.introText {
  margin-top: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  width: 800px;
}

/* Media Queries */
@media screen and (min-width: 768px) and (max-width:1024px){
  .titlePage {
    position: relative;
  }

  .hiText {
    font-size: 20px;
  }

  .TitleText {
    font-size: 100px;
  }

  .subTitle {
    font-size: 25px !important;
  }

  .introText {
    font-size: 20px;
    width: auto;
  }
}

@media screen and (min-width: 425px) and (max-width:767px){
  .titlePage {
    margin-left: 20px !important;
    margin-right: 10px !important;
    padding: 10px !important;
  }

  .hiText {
    font-size: 20px;
  }

  .TitleText {
    font-size: 80px;
  }

  .subTitle {
    font-size: 20px !important;
  }

  .introText {
    font-size: 20px;
    width: auto;
  }
}




@media screen and (min-width: 320px) and (max-width:424px){
  .titlePage {
    position: relative;
    margin-left: -10px !important;
  }

  .hiText {
    font-size: 15px;
  }

  .TitleText {
    font-size: 60px;
    padding: -10px !important;
  }

  .subTitle {
    font-size: 15px !important;
  }

  .introText {
    font-size: 15px;
    width: 500px;
  }
}

@media screen and (max-width: 320px) {
  .titlePage {
    position: relative;
    margin-top: 40px;
    margin-left: -10px !important;
  }

  .hiText {
    font-size: 15px;
  }

  .TitleText {
    font-size: 50px;
    padding: -10px !important;
  }

  .subTitle {
    font-size: 15px !important;
  }

  .introText {
    font-size: 15px;
    width: auto;
  }
}
