  @import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dangrek&family=Happy+Monkey&family=Kaushan+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,400;1,800&display=swap');





 .LearnedPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 20px;
 }

 .LpageHeading
{
    font-family: 'Dangrek', monospace;
    position: relative;
    color: cornflowerblue;
    font-size: 30px;
    margin-left: 40px !important;
}
.LpageHeading::after
{
    content: '';
    position: absolute;
    top:50%;
    left:320px;
    right: auto;
    width: 500px;
    height: 0.5px !important;
    background-color: cornflowerblue;
}

  .ThingsLearned{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px !important;
}

.CardSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.CardSection2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.LHeadingCard,.LHeadingCard2{
    width: 400px;
    height: 200px;
    justify-items: center;
    align-items: center;
    font-family: Yatra One;
    box-shadow: 0 0 20px #00000033 ;    
}
.LContentCard2:hover{
    color: white;
    box-shadow: 0px 0px 20px aqua !important;
    transform: translate(0%,-5%) !important;

}

.LHeadingCardText,.LHeadingCardText2{
    position: relative;
    top: 25%;
    font-size: 70px;
    text-align: center;
    background: linear-gradient(to right, #6A82FB 0%, #FC5C7D 51%, #6A82FB 100%);
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    row-gap: 0;
    transition: 0.9s;
  }
  
  .LHeadingCard:hover +.LContentCard {
    color: white !important;
    transform: translate(0%,-5%) !important;
    box-shadow: 0px 0px 10px azure !important;
  }

  .LHeadingCard2:hover +.LContentCard2{
    color: white !important;
    transform: translate(0%,-5%) !important;
    box-shadow: 0px 0px 10px azure !important;
  }

.LContentCard,.LContentCard2{
    box-shadow: 0 0 20px #00000033;
    width: 350px !important;
    height: auto !important;
    padding: 40px;
    background-color: #15315f;
    font-family: 'Share Tech', sans-serif;
    color: #008B8B;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-out;
}



.icon{
    color: aqua;
  }

 
  

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .LpageHeading
    {
  
        color: cornflowerblue;
        font-size: 25px;
        margin-left: 40px !important;
    }
    .LpageHeading::after
    {
        content: '';
        position: absolute;
        top:50%;
        left:300px;
        right: auto;
        width: 550px;
        height: 0.5px !important;
        background-color: cornflowerblue;
    }
    
    
    
    .LHeadingCard,.LHeadingCard2{
        width: 300px;
        height: 200px;
    }
    .LHeadingCardText,.LHeadingCardText2{
        position: relative;
        top: 30%;
        font-size: 50px;
      }
      
      .LHeadingCard:hover +.LContentCard {
        color: white;
        box-shadow: 0px 0px 10px aquamarine;
       
      }
    
    .LContentCard,.LContentCard2{
        box-shadow: 0 0 20px #00000033;
        width: 300px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .CardSection,.CardSection2{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
  

    .LpageHeading
    {
        font-family: 'Dangrek', monospace;
        position: relative;
        color: cornflowerblue;
        font-size: 25px;
        margin-left: 20px !important;
    }
    .LpageHeading::after
    {
        content: '';
        position: absolute;
        top:50%;
        left:280px;
        right: auto;
        width: 340px;
        height: 0.5px !important;
        background-color: cornflowerblue;
    }
    
    .LHeadingCard,.LHeadingCard2{
        width: 300px;
        height: 200px;
        mix-blend-mode: multiply;
    }
    .LHeadingCard:hover {
        mix-blend-mode: normal !important;
    }
    .LHeadingCard2:hover{
        mix-blend-mode: normal !important;
    }
    .LHeadingCard:hover + .LContentCard{
        box-shadow: 0px 0px 10px cadetblue;
    }

    .LContentCard2:hover{
        transform: translate(0%,5%) !important;
        box-shadow: 0px 0px 10px cadetblue !important;
    }


    .LHeadingCardText,.LHeadingCardText2{
        position: relative;
        top: 30%;
        font-size: 50px;
      }
    .LContentCard.LContentCard2{
        position: relative;
        box-shadow: 0 0 20px #00000033;
        width: auto;
        z-index: 2;
        background-color: transparent;
    }
}


@media screen and (min-width: 320px) and (max-width: 424px) {
    .CardSection,.CardSection2{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .LpageHeading
    {
        font-size: 25px;
        margin-left: 20px !important;
        color: cornflowerblue;
    }
    .LpageHeading::after
    {
        content: none;
        
    }
    
    .LHeadingCard,.LHeadingCard2{
        width: 250px;
        height: 150px;
        mix-blend-mode: multiply;
    }
    .LHeadingCardText,.LHeadingCardText2{
        position: relative;
        top: 30%;
        font-size: 40px;
        color: black;
      }
    .LContentCard,.LContentCard2{
        position: relative;
        box-shadow: 0 0 20px #00000033;
        width: 280px !important;
        z-index: 2;
        background-color: transparent;
        font-size: 18px !important;
        padding: 10px;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .LContentCard2:hover{
        transform: translate(0%,5%) !important;
        box-shadow: 0px 0px 10px cadetblue !important;
    }
}


@media screen and (max-width: 320px) {
    .LearnedPage{        
        margin-top: 200px !important;
     }

    .LpageHeading
    {
        font-size: 25px;
        margin-left: -30px !important;
        color: cornflowerblue;
        margin-left: -20px !important;
        /* margin-right: auto !important; */
    }
    .LpageHeading::after
    {
        content: none;
    }
    
    .CardSection,.CardSection2{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .LHeadingCard,.LHeadingCard2{
        width: 200px;
        height: 100px;
        mix-blend-mode: multiply;
    }
    .LHeadingCard:hover + .LContentCard{
        box-shadow:0px 0px 20px aqua;
    }
    .LHeadingCardText,.LHeadingCardText2{
        position: relative;
        top: 30%;
        font-size: 30px;
        z-index: 2;
        color: black !important;
      }

      .LContentCard2:hover{
        transform: translate(0%,5%) !important;
        box-shadow: 0px 0px 10px cadetblue !important;
    }
    .LContentCard,.LContentCard2{
        position: relative;
        box-shadow: 0 0 20px #00000033;
        width: 200px !important;
        z-index: 2;
        background-color: transparent;
        font-size: 15px;
        padding: 10px;
    }
}